-
  const defaultStandartsProps = {
      classes: '',
      title: 'Международные стандарты качества',
      subtitle: 'Обеспечиваем высокое качество услуг, соответствуя международным стандартам и требованиям логистической отрасли',
      lk: {
        title: 'Внесите свой вклад в развитие сервиса',
        poster: './images/standarts/poster.jfif',
        subtitle: 'Станьте участником программы улучшений. С заботой о каждом клиенте, служба качества “ВР ЛОГИСТИК”',
        btnText: 'Оставить отзыв',
        postTitle: '*Сервис доступен для действующих клиентов в разделе',
        postTitleLink: '“Оставить отзыв”',
      },
      list: [
          {
              image: './images/standarts/1.png',
              title: 'Сертификат FIATA',
              text: 'Являемся членом FIATA'
          },
          {
              image: './images/standarts/2.png',
              title: 'Сертификат ISO',
              text: 'Соответствуем международным стандартам качества ISO 9001-2015'
          },
          {
              image: './images/standarts/3.png',
              title: 'Свидетельство Ассоциации Российских Экспедиторов',
              text: 'Являемся членом Ассоциации Российских Экспедиторов'
          },
          {
              image: './images/standarts/4.png',
              title: 'Сертификат Всекитайской Ассоциации',
              text: 'Первыми из российских компаний приняты во Всекитайскую ассоциацию по логистике и закупкам в статусе члена Совета управляющих'
          },
          {
              image: './images/standarts/5.png',
              title: 'Являемся членом IATA',
              text: 'Первыми из российских компаний приняты во Всекитайскую ассоциацию по логистике и закупкам в статусе члена Совета управляющих'
          }
      ]
  }

mixin standarts(props = defaultStandartsProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultStandartsProps.classes,
        title: props.title ? props.title : defaultStandartsProps.title,
        subtitle: props.subtitle ? props.subtitle : defaultStandartsProps.subtitle,
        lk: props.lk ? props.lk : defaultStandartsProps.lk,
        list: props.list ? props.list : defaultStandartsProps.list
    }

  include ../ui/title
  include ../ui/btn
  include ../ui/headline
  section.standarts(class=`${checkProps.classes}`)&attributes(...dataset)
    .container
      .standarts__inner
        .standarts__top
          +headline({ text: checkProps.title, })
        .standarts__wrapper
          .standarts__info
            .standarts__info-poster
              img.lazy(
                src="./images/no-image.jpg",
                data-src=checkProps.lk.poster,
                alt=checkProps.lk.title
              )
            +title({ text: checkProps.lk.title, variant: '4', weight: 'bold', classes: 'standarts__info-title' })
            +text({ text: checkProps.lk.subtitle, classes: 'standarts__info-text', variant: 'xs', weight: 'medium' })
            +btn({ name: checkProps.lk.btnText, link: 'javascript:void(0);', classes: 'standarts__info-btn', icon: true, iconName: 'account', iconPosition: 'left' })
            span.standarts__info-post-title= checkProps.lk.postTitle
              | &nbsp;
              a(href="javascript:void(0);")= checkProps.lk.postTitleLink
          .standarts__list
            +text({ text: checkProps.subtitle, classes: 'standarts__list-text', variant: 'xs', weight: 'medium' })
            .standarts__list-inner
              each item in checkProps.list
                .standarts__list-item
                  img.lazy(
                    src="./images/no-image.jpg",
                    data-src=item.image,
                    alt=item.title
                  )
                  .standarts__list-item-inner
                    +text({ text: item.title, classes: 'standarts__list-item-title', variant: 'm', weight: 'bold' })
                    +text({ text: item.text, classes: 'standarts__list-item-text', variant: 'xxs' })
          .standarts__slider
            .swiper
              .swiper-wrapper
                each item in checkProps.list
                  .swiper-slide
                    .standarts__slider-item
                      img.lazy(
                        src="./images/no-image.jpg",
                        data-src=item.image,
                        alt=item.title
                      )
                      h4.standarts__slider-item-title= item.title
                      p.standarts__slider-item-text= item.text
              .swiper-pagination
